
pset1/hello/hello
pset1/mario/mario
pset1/population/population
pset2/caesar/caesar
pset2/readability/readability
pset2/readability/Untitled2
pset2/scrabble/scrabble
pset3/plurality/plurality
pset3/runoff/runoff
pset1/population/a.out
pset1/hello/a.out
